[Desktop Entry]
Version=1.0
Name=gbrainy
GenericName=Game
Comment=Play games that challenge your logic, verbal, calculation and memory abilities
Comment[es]=Juega juegos que desafían su capacidad de lógica, verbal, de cálculo y de memoria
Comment[fr]=Jouer à ce défi votre logique, verbale, le calcul et les capacités de mémoire
Exec=gbrainy
Icon=gbrainy
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;3-6;7-9;10-12;13-15;16>;Preescolar;Primaria_Básica;Primaria_Avanzada;Básico;Diversificado;Lógica;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gbrainy
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=@VERSION@
X-Ubuntu-Gettext-Domain=gbrainy


