[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Gambas3
Comment=Gambas3 Integrated Development Environment
Comment[es]=Gambas3 Entorno de desarrollo integrado
Comment[fr]=Gambas3 Environnement de développement intégré
Exec=gambas3
Type=Application
Icon=gambas3
Terminal=false
Categories=Development;
