[Desktop Entry]
Version=1.0
Name=PCInfo
Comment=Information System SO
Comment[es]=Información del Sistema Operativo
Exec=/usr/bin/PCInfo
Icon=pcinfo
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
