[Desktop Entry]
Version=1.0
Name=qsettings
Comment=Missing description
Exec=/usr/bin/qsettings
Icon=qsettings
Terminal=false
Type=Application
StartupNotify=true
Categories=System;
