[Desktop Entry]
Name=SQLite Browser
Comment=DB Browser for SQLite is a light GUI editor for SQLite databases
Comment[de]=DB Browser for SQLite ist ein GUI-Editor für SQLite-Datenbanken
Comment[es]=DB Browser para SQLite es un editor de GUI ligero para bases de datos SQLite
Exec=sqlitebrowser %f
Icon=sqlitebrowser
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;Utility;Database;
MimeType=application/sqlitebrowser;application/x-sqlitebrowser;application/x-sqlite2;application/x-sqlite3;
