[Desktop Entry]
Name=Tux Math 
GenericName=Educational math game
Comment=Tux Math - Learn math with Tux!
Comment[fr]=Tux Math - Apprenez les mathématiques avec Tux!
Comment[es]=Tux Math - ¡Aprende matemáticas con Tux!
Exec=tuxmath
Icon=tuxmath
Type=Application
Terminal=false
Categories=Education;Math;Matemáticas
## X-SuSE-translate=false
X-Ubuntu-Gettext-Domain=tuxmath
