[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Gambas3
Comment=Gambas3 Integrated Development Environment
Exec=gambas3
Type=Application
Icon=gambas3
Terminal=false
Categories=Development;13-15;16>;Básico;Diversificado;Tecnología;
